* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.header-container {
    position: fixed ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 50px ;
    padding: 0 18px;
    background: linear-gradient(45deg, #f1eadb, #f8f7f4 );
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}



.logo h1 {
    color: rgb(218, 186, 7);
    font-size: 1.5em;
    text-align: center;
}

.logo h2 {
    font-size: 1em;
    color: white;
    font-family: system-ui, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: -10px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    gap: 7%;
}

#menu-mobile {
    border: none;
    margin-left: auto;
    background-color: transparent;
    color: rgb(212, 168, 22);
}
#menu-mobile i {
    font-size: 1.3em;
}

.hide {
    display: none !important;
}

#inicio {
    margin-top: 50px;
    background-color: rgb(226, 174, 3);
    background-image:  linear-gradient(rgba(7, 7, 7, 0.075), rgba(2, 2, 2, 0.616)), url(imagens/banner\ fundo\ solido\ mobile.jpg);
    background-size: cover;
    background-position: center;
    height: 680px;
}

#inicio-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fdfdfd;
    padding: 40px 20px;
    gap: 12px;
}

#inicio-text p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9em;
    max-width: 400px;
    
}

.info {
    color: rgba(255, 254, 254, 0.473);
}

#inicio-button {
    margin: auto;
    width: 200px;
    border: none;
    border-radius:25px;
    color: rgb(112, 76, 9);
    background: linear-gradient(40deg ,rgba(233, 210, 169, 0.952), rgb(235, 224, 212));
    padding: 12px 2px;
    transition: .4s;
   
}

#inicio-button p {
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    
   
}

#inicio-button:hover {
    color: rgb(117, 79, 8);
    background: linear-gradient(40deg ,rgba(230, 203, 159, 0.952), rgb(235, 221, 207));
    padding: 14px 2px;
    width: 210px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.349);
    
}

.dest {
    font-weight: 500;
}

#sobre {
    background-color: rgb(243, 243, 243);
    padding: 80px 25px;
}

#sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 180px;
    gap: 70px;
    position: relative;

}

#sobre-text h2 {
    font-size: 2em;
    margin-bottom: 25px;
}

#sobre-text span {
    font-weight: bolder;
    color: #504534;
}

#sobre-text p {
    font-size: 1em;
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link {
    text-align: center;
    background-color: rgba(180, 121, 10, 0.733);
    padding: 10px;
    border-radius: 5px;
}

.text-link {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fdfdfd;
    padding: 10px;
}

#sobre img {
    position: absolute;
    transform: translate(-3%, -3%);
    width: 350px;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
}

#benefits {
    background-color: #e0dad26b;
    padding: 160px 25px 20px 25px;
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#benefits h2 {
    margin-bottom: 20px;
    color: #3b311d;
  
}

#benefits span {
    font-weight: bolder;
    color: #3b311d;
  
}

.benefits-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    
    text-align: center;
    gap: 15px;
    

    padding: 50px 0px;
    border-radius: 10px;
    
    
}

.benefit-icon {
    color: #4cada0;
    text-align: center;
}



.benefit-icon h3{
    font-size: 0.8em;

}

.benefit-card {
    
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: start;
    align-items: start;
    border-bottom: 2px solid #4cada02c;
    width: 280px;
}

.benefit-card p{
   font-size: 0.9em;
   width: 210px;
   font-weight: 500;
   color: #41382ae1;
}

.titulo {
    
    text-align: center;
    margin-top: 70px;
    font-size: 1.7em;
    font-weight: bolder;
    color: #3b311d;
    padding: 20px;
}

#procedimentos h4 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 1.2em;
    color: #3b311d;
}

.procedimentos-card {
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
   background-color: #d3bb8923;
   border-radius: 20px;
   width: 290px;
   height: 440px;
   margin: auto;
   text-align: center;
}

.procedimentos-content h3 {
    margin-top: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgoldenrod;
}


.procedimentos-card img {
    width: 290px;
    display: block;
    margin: auto;
    border-radius: 5px;
}


#procedimentos h4{
    margin-left: 25px;
    font-weight: bolder;
    color: #68574971;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.procedimentos-content button {
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #3f352bea;
    padding: 10px;
    border: none;
    border-radius: 5px;

}

#depoimentos {
    padding: 80px 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    place-items: center center;
    place-content: center center;
}

#depoimentos h2 {
    margin-bottom: 20px;
    font-size: 2.1em;

}

#depoimentos h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    text-align: center;

}

#depoimentos p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}

#google-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo-google {
    margin-top: 5px;
    margin-bottom: 35px;
}



.avaliacao-grid {
    display: grid;
    gap: 15px;
}

.avaliacao {
background-color: rgba(245, 245, 245, 0.493);
padding: 35px 25px;
border-radius: 15px;
position: relative;

}

.icone-google {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100% , 100%);
}

.client {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 25px 25px;
}

.client-avatar {
    grid-row: 1/3;
    grid-column: 1;
    
}

.client-name {
    grid-row: 1;
    grid-column: 2;
    font-weight: 500;
    
}

.client-data {
    grid-row: 2;
    grid-column: 2;
    color: rgba(7, 7, 7, 0.281);
    font-weight: 500;
}

.how {
    
    height: auto;
    padding: 1px 25px 70px 25px;
    margin-bottom: 100px;
    background: linear-gradient(45deg, #d4be97, #ebe6da );
    background-color: #e2d2b1;
}

#textos-how {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

#how {
    color: darkgoldenrod ;
    padding: 0px;
}

.subtitulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #3b311dc0;
    transform: translateX(3%);
}

.steps {
    display: grid;
    gap: 20px;
}

.step {
    background-color: #fdfdfdf1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075);
}

.step-number {
    font-size: 2.2em;
    font-weight: bolder;
    color: darkgoldenrod;
}

.step h3{
    font-weight: 500;
    color: rgb(59, 43, 5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.step p{
    font-weight: 400;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#step1, #step3{
    transform: translateX(-3%);
}

#step2{
    transform: translateX(3%);
}

.faq {
    padding: 0px 25px;
    margin-bottom: 100px;
    
}

.faq p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}

.pergunta {
    background: linear-gradient(45deg, #f1e5c5b2, #f5efe4b2);
    color: #503b1a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    font-weight: 500;
    border-radius: 5px;
}

.pergunta i {
    color: darkgoldenrod;
    padding-right: 8px;
    border-right: 1px solid #6d512593;
}

#contato {
    padding: 0px 25px;
    margin-bottom: 100px;
}

#contato h1 {
    color: darkgoldenrod;
    font-size: 1em;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contato h1 {
    display: flex;
    place-items: center center;
    gap: 7px;
}

#barra {
    
    display: inline-block;
    width: 40px;
    background-color: darkgoldenrod;
    height: 2px;
}

#contato h2 {
    text-align: start;
    font-size: 1.8em;
    font-weight: bolder;
    color: #3b311d;
    padding: 20px 0px;
}

.contato-item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    margin-top: 20px;
}

.icone-contato {
    color: darkgoldenrod;
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
}

.contato-nome {
    grid-column: 2;
    grid-row: 1;

    margin: 0;
    font-size: 1em;
    font-weight: 500;
    color: #503b1ab2;
}

.contato-info {
    grid-column: 2;
    grid-row: 2;

    margin: 3px 0 0;
    font-size: 17px;
    font-weight: bold;
}

#localizacao p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#map-box{
    background-color: #f3f3f3;
    border-radius: 10px;
    margin: 50px auto 0px auto;
    width: 100%;
    height: 350px;
}

#map-box iframe{
    width: 100%;
    height: 100%;

}





.footer {
    background-color: rgb(42, 42, 42);
    color: rgba(255, 255, 255, 0.7);
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-container {
        grid-template-columns: 1fr 1fr ;
        gap: 40px 25px;
        padding: 45px 25px 30px;
    }

    .footer .logo {
        grid-column: 1 / -1;
    }


/* LOGO */

.footer .logo h1 {
    margin: 0;

    font-family: Georgia, serif;
    font-size: 38px;
    color: rgb(221, 174, 52);
}

.footer .logo h2 {
    margin: -5px 0 25px;

    font-size: 13px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.65);
}

/* REDES SOCIAIS */

.social {
    display: flex;
    gap: 12px;
}

.social a {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(221, 174, 52, 0.5);
    border-radius: 50%;

    color: rgb(221, 174, 52);
    font-size: 17px;

    transition: 0.3s;
}

.social a:hover {
    background-color: rgb(221, 174, 52);
    color: rgb(42, 42, 42);
    transform: translateY(-3px);
}

/* COLUNAS */

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.footer-column h3 {
    margin: 0 0 12px;

    color: rgb(221, 174, 52);
    font-size: 14px;
    font-weight: 500;

    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-column a,
.footer-column span {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    font-size: 14px;

    transition: 0.3s;
}

.footer-column a:hover {
    color: rgb(221, 174, 52);
    padding-left: 4px;
}

/* TEXTOS FINAIS */

.footer-column p {
    margin: 15px 0 0;

    font-size: 12px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.45);
}